@using Makale.Models.Siniflar
@model List<MakaleData>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered" style="color:white;width:100%   ; margin-top:40px">
    <tr>
        <td>Makale ADI</td>
        <td>Türü</td>
        <td>İçeriği</td>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>
                @k.MakaleAd
            </td> 
            <td>
                @k.MakaleTür
            </td>  
            <td style="width:100%">
                @k.MakaleText
            </td>
            <td><a class="btn btn-danger" href="#" >Sil</a></td>
            <td><a class="btn btn-success" href="#">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Makale/MakaleEkle" class="btn btn-primary">Yeni Makale Ekle </a>

