
@{
    ViewBag.Title = "_AdminLayout";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Thumber &mdash; Colorlib Website Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="~/thumber/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/thumber/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/thumber/css/magnific-popup.css">
    <link rel="stylesheet" href="~/thumber/css/jquery-ui.css">
    <link rel="stylesheet" href="~/thumber/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/thumber/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/thumber/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/thumber/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/thumber/css/aos.css">
    <link rel="stylesheet" href="~/thumber/css/jquery.scrollbar.css">
    <link rel="stylesheet" href="~/thumber/css/fancybox.min.css">
    <link rel="stylesheet" href="~/thumber/css/swiper.min.css">
    <link rel="stylesheet" href="~/thumber/css/style.css">

</head>
<body>

    <div class="site-wrap">
        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>
        <header style="overflow-y:hidden" class="header-bar d-flex d-lg-flex align-items-center inner-page-header" data-aos="fade-down">
            <div class="site-logo">
                <a href="index.html">Makaleci.com</a>
            </div>

            <div class=" d-xl-block ml-md-0 ml-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span> <span style="position: relative;top: -4px; text-transform: uppercase;">Menu</span></a></div>
            <div class="main-menu d-none">
                <ul class="js-clone-nav">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="photos.html">Photos</a></li>
                    <li class="active"><a href="bio.html">About Me</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
                <ul class="social js-clone-nav">
                    <li><a href="#"><span class="icon-facebook"></span></a></li>
                    <li><a href="#"><span class="icon-twitter"></span></a></li>
                    <li><a href="#"><span class="icon-instagram"></span></a></li>
                </ul>
            </div>
        </header>

        <main >
            <div >
                @RenderBody()
            </div>
        </main>
    </div> <!-- .site-wrap -->
    <script src="~/thumber/js/jquery-3.3.1.min.js"></script>
    <script src="~/thumber/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/thumber/js/jquery-ui.js"></script>
    <script src="~/thumber/js/popper.min.js"></script>
    <script src="~/thumber/js/bootstrap.min.js"></script>
    <script src="~/thumber/js/owl.carousel.min.js"></script>
    <!-- <script src="js/jquery.stellar.min.js"></script> -->
    <script src="~/thumber/js/jquery.countdown.min.js"></script>
    <script src="~/thumber/js/jquery.magnific-popup.min.js"></script>
    <script src="~/thumber/js/bootstrap-datepicker.min.js"></script>
    <script src="~/thumber/js/aos.js"></script>
    <script src="~/thumber/js/jquery.fancybox.min.js"></script>
    <script src="~/thumber/js/swiper.min.js"></script>
    <script src="~/thumber/js/jquery.scrollbar.js"></script>
    <script src="~/thumber/js/main.js"></script>


</body>
</html>